.post-roast {
  background-color: palevioletred;
  margin: 0 auto;
  width: 24rem;
  border: solid black 1px;
  border-radius: 5px;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-boast {
  background-color: lightgreen;
  margin: 0 auto;
  width: 24rem;
  border: solid black 1px;
  border-radius: 5px;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.score-div {
  width: 3rem;
  display: flex;
  flex-direction: column;
}

.score {
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  font-size: inherit;
}